// import dependencies
@import "dependencies";

$link-color: #C5CAE9;

p a {
  border-bottom: 4px solid $link-color;
  box-shadow: inset 0 -2px 0 $link-color;
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);

  &:hover, &:focus, &:active {
    background: $link-color;
    color: #000;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

  .embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  .embed-responsive-4by3 {
    padding-bottom: 75%;
  }

#g-navigation .g-main-nav .g-sublevel > li:hover > .g-menu-item-container, #g-navigation .g-main-nav .g-sublevel > li.active > .g-menu-item-container {
  color: rgba(255,255,255, 0.5);
}

.g-owlcarousel.has-color-overlay .owl-stage > .owl-item:nth-child(even) .g-owlcarousel-item-img:after,
.g-owlcarousel.has-color-overlay .owl-stage > .owl-item:nth-child(odd) .g-owlcarousel-item-img:after {
  opacity: 0.8;
}

#g-sidebar {
  .widget_nav_menu {
    li {

      a {
        display: block;
        margin: 0.3em 0;
        padding: 0.3em;
        line-height: 1.2;
        border-left: 3px solid transparent;
        box-shadow: inset 3px 0 0 transparent;
        transition: background all .15s cubic-bezier(.33,.66,.66,1);

        &:hover {
          border-left-color: $link-color;
          box-shadow: inset 3px 0 0 $link-color;
        }
      }

      &.current-menu-item {
        > a {
          color: #000;
          border-left-color: $link-color;
          box-shadow: inset 3px 0 0 $link-color;
          background: $link-color;
        }
      }
    }

    .menu {
      .sub-menu {
        display: none;
        border-left: 1px solid $link-color;
        margin-left: 1rem;
      }
      .current-menu-item, .current-menu-ancestor {
        > .sub-menu {
          display: block;
        }
      }
    }
  }
}

.subentries {
  article {
    @include clearfix;
  }
}

#g-mainbar {
  article {
    line-height: 1.5;
    li {
      margin: 0.5rem 0;
    }
  }
}

img {
  &.size-medium, &.size-thumbnail {
    @include breakpoint(mobile-only) {
      max-width: 33%;
    }
  }
}

#g-header {
  .g-owlcarousel-item-content-container {
    width: auto;
    max-width: 75%;
    @include breakpoint(mobile-only) {
      max-width: 90%;
      .g-owlcarousel-item-content {
        margin: 0.625rem;
      }
      .g-owlcarousel-item-button {
        display: inline-block;
        padding: 1rem 2.625rem;
        font-size: 0.6rem;
      }
    }
    @include breakpoint(large-mobile-range) {
      .g-owlcarousel-item-desc {
        display: block;
        font-size: 1rem;
        padding-bottom: 0;
        line-height: 1.4;
      }
    }
    @include breakpoint(large-desktop-range) {
      max-width: 80%;
    }
  }
}

#g-intro {
  .pchc-random-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;

    &.has-color-overlay {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include linear-gradient(30deg, $accent-color-1, $accent-color-2);
        opacity: 0.7;
      }
    }
  }
}

#g-footer {
  .g-horizontalmenu {
    text-align: inherit;
  }
}

#g-mainbar {
  .entries {
    .post-type-archive-resident &, .tax-resident_class & {
      @include display(flex);
    	@include flex-flow(row wrap);
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	text-rendering: optimizespeed;

      article {
        //@include flex(0 50 * 1%);
        //width: 50 * 1%;
        //padding: 0 1rem;
        margin: 1rem 0;
        //border-right: 1px solid rgba(#000, 0.1);
        @include breakpoint(mobile-only) {
          //@include flex(0 100%);
          //width: 100%;
          padding: 0;
          border-right: none;
          border-bottom: 1px solid rgba(#000,0.1);
        }

        &:nth-child(2n) {
          border-right: none;
        }

        .entry-header {
          border-bottom: 1px solid rgba(#000,0.1);
        }

        .entry-title {
          line-height: 1.2;
          margin: 0;
        }

        .entry-meta {
          margin-bottom: 0.5rem;
        }

        .post-thumbnail {
          img {
            max-width: 33%;
          }
        }

        .resident-details {
          margin: 0.5rem 0 1rem;
          h4 {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: #888;
            margin: 0.5rem 0 0;
            line-height: 1.2;
          }
        }
      }
    }
  }

  .resident-class {
    @extend %list-reset;
    li {
      display: inline-block;
      color: #CCC;
      margin: 0;
    }
    a {
      font-size: 0.8em;
      letter-spacing: 0.1em;
      color: #666;
      &:hover {
        color: $accent-color-1;
      }
    }
  }
}
