{% set twigTemplate = 'listpages-shortcode.html.twig' %}
{% set scope = 'page' %}

  {# Begin Post Entries #}
  <section class="subentries">
      {% for post in childpages %}
          {% include ['partials/content-subpage.html.twig'] %}
      {% endfor %}
  </section>
  {# End Post Entries #}
